.page {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page#artists {
    width: 100%;
    height: calc(100vh - 90px);
}


@media screen and (min-width: 901px) {
    .page#artists {
        float: left;
        width: calc(100% - 90px);
        height: 100vh;
    }
}