.c__Modal_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    background-color: #000;
    opacity: 0.1;
    z-index: 99;
}

.c__Modal_cont {
    position: absolute;
    background: #FFF;
    border-radius: 2px;
    top: 10%;
    right: 10%;
    bottom: 10%;
    left: 10%;
    z-index: 100;
}

.c__Modal_cont_wrap {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c__Modal_cont h1 {
    font-size: 28px;
    text-align: center;
    text-transform: capitalize;
    max-width: 300px;
    margin-bottom: 30px;
}

.c__Modal_cont_img {
    width: 100%;
    max-width: 300px;
    margin-bottom: 15px;
}

.c__Modal_cont_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2px;
}

.c__Modal_cont a {
    width: 100%;
    max-width: 300px;
}

.c__Modal_cont_close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-bottom-left-radius: 1px;
    background-color: #25292D;
    transition: all 0.25s cubic-bezier(0.79, 0.15, 0.15, 0.9);
}

.c__Modal_cont_close:hover {
    background-color: #000;
    transition: all 0.25s cubic-bezier(0.79, 0.15, 0.15, 0.9);
}

.c__Modal_cont_close_rect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    transform-origin: 50% 50%;
    width: 3px;
    height: 17px;
    background-color: #FFF;
    border-radius: 2px;
}

.c__Modal_cont_close_rect:last-child {
    transform: translate(-50%,-50%) rotate(-45deg);
}

@media screen and (min-width: 481px) {

    .c__Modal_cont h1 {
        font-size: 32px;
    }

}

@media screen and (min-width: 601px) {

    .c__Modal_cont {
        top: 15%;
        right: 15%;
        bottom: 15%;
        left: 15%;
    }

    .c__Modal_cont_close {
        width: 55px;
        height: 55px;
    }

}

@media screen and (min-width: 901px) {
    
    .c__Modal_cont {
        top: 15%;
        right: 20%;
        bottom: 15%;
        left: 20%;
    }

    .c__Modal_cont h1 {
        font-size: 34px;
    }
    
}



